.chat-container {
  width: fit-content;
}

.btn {
  background-color: powderblue;
  border: none;
}

#message-input, .btn {
  padding: 10px 10px;
  border-radius: 10px;
}

#message-input {
  border: solid 2px powderblue;
}

.headline {
  color: powderblue;
}

.sent-message, .response-message {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: fit-content;
}

.sent-message {
  background-color: lightgreen;
  text-align: right;
  margin-left: auto;
}

.response-message {
  background-color: lightblue;
  text-align: left;
  margin-right: auto;
}

